<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/addProduct.css">
<title><%= titlePage %></title>
<%- include('../includes/menu.ejs')%>

    <section class="container-form">
        <h1 class="container-form__h1">Add Product</h1>
        <div class="card-form">
            <div class="card-form__left">
                <p>letf</p>
                <form action = "/admin/product" 
                      method = "POST" 
                      class = "product-form">
                    <div class="form-control">
                        <label for="name_product">Name product</label>
                        <input type="text" name="name_product" id="name_product">
                        
                        <label for="imageurl">Image Product</label>
                        <input type="text" name="imageurl" id="imageurl">

                        <label for="title_product">Title product</label>
                        <input type="text" name="title_product" id="title_product">

                        <label for="price_product">Price product</label>
                        <input type="text" name="price_product" id="price_product">

                        <label for="description_product">Description product</label>
                        <textarea name="description_product" id="description_product" ></textarea>
                        <button class="form-btn" type="submit">Add product </button>
                    </div>
                </form>
            </div>
            <div class="card-form__right">
                <p>right</p>
            </div>
        </div>
    </section>

<%- include('../includes/end.ejs')%>