<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Michroma&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans&family=Saira+Condensed:wght@100&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
    <header>
       <div class="container-menu">
        <div class="box-upper">
            <h6 class="box-upper--txt">
                zadzwon teraz 
            </h6>
        </div>
        <svg class="svg-triangle" width=100% viewbox = " 0 0 300 5 " >
            <path d="M 0, 0 300,0 0,5  "/>
        </svg>
          </svg>
        <div class="nav">
            <div class="nav__logo">
                <p class="nav__logo--p">junior<span class="nav__logo--span">dev</span>.eu</p>
            </div>
            <div class="nav-list">
                <li class="nav-list__items">
                    <a href="#" class="nav-list__items--item">
                        Home
                    </a>
                </li>
                <li class="nav-list__items">
                    <a href="#" class="nav-list__items--item">
                        Etapy współpracy
                    </a>
                </li>
                <li class="nav-list__items">
                    <a href="#" class="nav-list__items--item">
                        Oferta
                    </a>
                </li>
                <li class="nav-list__items">
                    <a href="#" class="nav-list__items--item">
                        FAQ
                    </a>
                </li>
                <li class="nav-list__items">
                    <a href="#" class="nav-list__items--item">
                        Kontakt
                    </a>
                </li>
                
            </div>
            <!-- menu hamburegr -->
            <div class="hamburger">
                <input type="checkbox" id="hamburgerIcon">
                <label for="hamburgerIcon"><i class="fa-solid fa-burger"></i></label>
                    <div class="menuHam">
                        <ul class="hamburegerList">
                            <li class="hamburegerList__items">
                                <a href="#" class="hamburegerList__items--item">
                                    Home
                                </a>
                            </li>
                            <li class="hamburegerList__items">
                                <a href="#" class="hamburegerList__items--item">
                                    Etapy współpracy
                                </a>
                            </li>
                            <li class="hamburegerList__items">
                                <a href="#" class="hamburegerList__items--item">
                                    Oferta
                                </a>
                            </li>
                            <li class="hamburegerList__items">
                                <a href="#" class="hamburegerList__items--item">
                                    FAQ
                                </a>
                            </li>
                            <li class="hamburegerList__items">
                                <a href="#" class="hamburegerList__items--item">
                                    Kontakt
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
       </div> 
    </header>