<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/contact.css">
    <title>Document</title>
<%- include('includes/menu.ejs')%>
    <h1>contact</h1>
<%- include('includes/end.ejs')%>