<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/portfolio.css">
<link rel="stylesheet" href="/css/faq.css">
    <title>Document</title>
<%- include('includes/menu.ejs')%>

   <section class="large">
        <div class="largeBox">
            <div class="box-left">
                <div class="box-left__content">
                    <p class="box-left__content--p">
                        DISCOVER SAFE SOLUTIONS
                    </p>
                    <h1 class="box-left__content--h1">
                        Best websites for <span>developing</span>   companies
                    </h1>
                </div>
                
            </div>
            <div class="box-right">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
   </section> 
   <svg class="svg-test" width=100% viewbox = " 0 0 300 30 " >
        <path d="M 0, 0 300,0 150, 10  "  />
    </svg>
<%- include('includes/icons.ejs') %>
<section class="largeTwo">
    <div class="boxInfo">
        <h1 class="boxInfo-h1">
            Oferta cenowa
        </h1>

    </div>
</section>
<script src="/js/sectionTwo.js"></script>
<%- include('includes/end.ejs')%>
<article class="faq-article">
    <h1 class="boxInfo-h1"> FAQ </h1>
    <section class="faq-section">
        <div class="faq-box-left">
            <div class="box-collasible">
                <p class="box-collasible-p">
                    coming soon :)
                </p>
                <i class="arrow" id="arrowID"></i>
                <div class="collasible-content">
                    Lorem ipsum dolor sit amet consectetur.
                    Lorem ipsum dolor sit amet consectetur.
                    Lorem ipsum dolor sit amet consectetur.
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
            <div class="box-collasible">
                <p class="box-collasible-p">
                    coming soon :)
                </p>
                <i class="arrow" id="arrowID"></i>
                <div class="collasible-content">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
            <div class="box-collasible">
                <p class="box-collasible-p">
                    coming soon :)
                </p>
                <i class="arrow" id="arrowID"></i>
                <div class="collasible-content">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
            <div class="box-collasible">
                <p class="box-collasible-p">
                    coming soon :)
                </p>
                <i class="arrow" id="arrowID"></i>
                <div class="collasible-content">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
            
        
        </div>
        <div class="faq-box-right">
            <div class="box-collasible">
                <p class="box-collasible-p">
                    coming soon :)
                </p>
                <i class="arrow" id="arrowID"></i>
                <div class="collasible-content">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
            <div class="box-collasible">
                <p class="box-collasible-p">
                    coming soon :)
                </p>
                <i class="arrow" id="arrowID"></i>
                <div class="collasible-content">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
            <div class="box-collasible">
                <p class="box-collasible-p">
                    coming soon :)
                </p>
                <i class="arrow" id="arrowID"></i>
                <div class="collasible-content">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
            <div class="box-collasible">
                <p class="box-collasible-p">
                    coming soon :)
                </p>
                <i class="arrow" id="arrowID"></i>
                <div class="collasible-content">
                    Lorem ipsum dolor sit amet consectetur.
                </div>
            </div>
        </div>
    </section>
</article>
<script src="/js/collasible.js"></script>