<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/portfolio.css">
    <title>Document</title>
<%- include('includes/menu.ejs')%>

   <section class="large">
        <div class="largeBox">
            <div class="box-left">
                <div class="box-left__content">
                    <p class="box-left__content--p">
                        DISCOVER SAFE SOLUTIONS
                    </p>
                    <h1 class="box-left__content--h1">
                        Best websites for <span>developing</span>   companies
                    </h1>
                </div>
                
            </div>
            <div class="box-right">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
   </section> 
   <svg class="svg-test" width=100% viewbox = " 0 0 300 30 " >
        <path d="M 0, 0 300,0 150, 10  "  />
    </svg>
<%- include('includes/icons.ejs') %>
<section class="largeTwo">
sss
</section>
<script src="/js/header.js"></script> 
<%- include('includes/end.ejs')%>