<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/portfolio.css">
    <title>Document</title>
<%- include('includes/menu.ejs')%>
    <h1>Portfolio</h1>
<%- include('includes/end.ejs')%>