*{
    box-sizing:     border-box;
    font-size:      20px;
    margin:         0;
    padding:        0;
}

body{
    background-color:   cadetblue;
    color:              rebeccapurple;
}
main{
    height:         auto;
    overflow: hidden;
}
.box__one{ 
    background-color: rgb(255, 243, 227);
    display:        flex;
        align-items:        center;
        flex-direction:     column;
    min-height:     30rem;
    position:       relative;

}
.info{
    display:                flex;
        justify-content:    center;
        align-items:        center;
    height:         10rem;
    width:          50%;
}

.container{
    background-color:   antiquewhite;
    border:               .5rem rgba(0, 0, 0, 0.384) solid;
    border-radius:        2rem;
    box-shadow:           0px 0px 10px 1px rgba(0, 0, 0, 0.473);
    display:    flex;
        justify-content:    center ;
        align-items:        center;
    min-height:     50%;
    position:   absolute;
        bottom: -25%;
    width:          40%;

}

.photo{
    background-image:       url('/img/error.png');
    background-position:    center center;
    background-size:        cover;
    border-radius:          50%;
    border:                 .5rem rgb(31, 31, 31) solid;
    box-shadow:             3px 7px 10px -3px rgba(0, 0, 0, 0.527);
    height:                 10rem;
    position:   absolute;
            top: 0;
            left: 50%;
    width:                  10rem;
    transform:              translate(-50% , -50%);
}
.container__box--text{
    font-size:      3rem;
}
.box__two{
    background-color:   rgb(39, 34, 34);
    min-height:             20rem;

}