<%- include('../includes/head.ejs') %>

<%- include('../includes/menu.ejs')%>
    <main>
        <div class="container-orders">
            <h1>Nothing yet</h1>
        </div>
    </main>

<%- include('../includes/end.ejs')%>